<div class="container-fluid">
    <div>
        <button type="button" class="btn btn-danger" (click)="deleteAllChecks()">DELETE ALL CHECKS</button>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-hover">
                <thead class="w-50 p-3 col-sm-6">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Table Number</th>
                    <th scope="col">Create a check</th>
                    <th scope="col">View Checks</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let table of tableData">
                    <th scope="row">{{table.id}}</th>
                    <td>{{table.number}}</td>
                    <td>
                        <label class="checkbox-inline" (click)="createCheck(table.id)"><input #checkboxes
                                                                                              type="checkbox" value=""></label>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="getCheckByTableId(table)">View
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-7 padding-sm">
            <div *ngIf="tableId">
                <h3>Checks for Table ID : {{tableId.number}}/ {{tableId.id}}</h3>
                <td>
                    <button type="button" class="btn btn-primary" (click)="getItems()">View Item to Add
                    </button>
                </td>
                <table class="table table-hover" *ngIf="checksByTableId.length">
                    <thead class="w-25 p-2 col-sm-6">
                    <tr>
                        <th scope="col">Check ID</th>
                        <th scope="col">Table ID</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">Updation Date</th>
                        <th scope="col">createdBy</th>
                        <th scope="col">Status(OPEN / CLOSED)</th>
                        <th scope="col">View Check</th>
                        <th scope="col">Want to close Check?</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let check of checksByTableId" style="width: 50px">
                        <th scope="row">{{check.id}}</th>
                        <td>{{check.tableId}}</td>
                        <td>{{check.dateCreated}}</td>
                        <td>{{check.dateUpdated}}</td>
                        <td>{{check.createdBy}}</td>
                        <td>{{check.closed ? 'CLOSED' : 'OPEN'}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="getCheckById(check.id)">View
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="closeCheckById(check.id)">Close
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div *ngIf="!checksByTableId.length" style="padding-top: 40px; text-align: center"><h2>There is no check
                    for selected
                    Table.</h2>
                    <h2>
                        Please add a check first!!
                    </h2>
                </div>
            </div>
            <div *ngIf="itemsList && displayItemTable">
                <div class="row"><h3 style="padding-right: 515px">Select Items</h3>
                    <button type="button" class="btn btn-primary" (click)="resetDisplayItemTable()">CLOSE
                    </button>
                </div>
                <table class="table table-hover" *ngIf="itemsList.length">
                    <thead class="w-25 p-2 col-sm-6">
                    <tr>
                        <th scope="col">ITEM ID</th>
                        <th scope="col">NAME</th>
                        <th scope="col">PRICE</th>
                        <th scope="col">ADD ITEM</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of itemsList" style="width: 50px">
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="addItemToCheck(item.id)">ADD
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div *ngIf="!itemsList.length" style="padding-top: 40px; text-align: center">
                    <h2>You have added all the items available.</h2>
                </div>
            </div>
            <div *ngIf="displayOrderItemTable">
                <div class="row">
                    <h3 style="padding-right: 500px">Ordered Items</h3>
                    <button type="button" class="btn btn-primary" (click)="resetDisplayOrderItemTable()">CLOSE
                    </button>
                </div>
                <table class="table table-hover" *ngIf="orderItems.length">
                    <thead class="w-25 p-2 col-sm-6">
                    <tr>
                        <th scope="col">Unique ID</th>
                        <th scope="col">ITEM ID</th>
                        <th scope="col">CHECK ID</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">Updation Date</th>
                        <th scope="col">createdBy</th>
                        <th scope="col">Voided?</th>
                        <th scope="col">Void Item</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of orderItems" style="width: 50px">
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.itemId}}</td>
                        <td>{{item.checkId}}</td>
                        <td>{{item.dateCreated}}</td>
                        <td>{{item.dateUpdated}}</td>
                        <td>{{item.createdBy}}</td>
                        <td>{{item.voided}}</td>
                        <td><button type="button" class="btn btn-danger" (click)="voidAnItem(item.id)">VOID
                        </button></td>
                    </tr>
                    </tbody>
                </table>
                <div *ngIf="!orderItems.length" style="padding-top: 40px; text-align: center">
                    <h2>You haven't order any item yet.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
